.circle{
    grid-row: 2/span 10;
    grid-column: 3/span 8;

    background-color: cadetblue;
    height: 90vh;
    width: 90vh;
    z-index: -1;
    border-radius: 100%;
    align-self: center;
    justify-self: center;
}